{% extends 'base.html' %}
{% load static %}
<div>
    {% block body %}



<div class="container text-white" style="margin-top:100px;">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <img src="{{birds.image.url}}" style="width:100%;max-width:400px;height:auto;object-fit:fill;margin-bottom:20px;">
            <br>
             <h1>{{birds.name}}</h1>
        </div>
        <div class="col-md-12 col-lg-12" style="font-family:arial;">
            <h4>Domain:{{birds.domain}}</h4>
            <h4>Kingdom:{{birds.kingdom}}</h4>
            <p style="font-size:20px;">{{birds.details}}</p><br>
        </div>
    </div>
</div>

{% endblock%}
</div>

