{% extends 'base.html' %}
{% load static %}
<div>
    {% block body %}



<div class="container text-white" style="margin-top:100px;">
    <div class="row">
        <div class="col-12 g-4">
            <img src="{{birds.image.url}}" style="max-width:500px;max-height:400px;object-fit:fill;">
            <br>
             <h1>{{birds.name}}</h1>
        </div>
        <div class="col-12 g-4" style="font-family:arial;">
            <h4>Domain:{{birds.domain}}</h4>
            <h4>Kingdom:{{birds.kingdom}}</h4>
            <p style="font-size:20px;">{{birds.details}}</p><br>
        </div>
    </div>
</div>

{% endblock%}
</div>

